<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
    
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo" >
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/company">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/hiring">Hiring</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/applyJobfair">Apply Jobfair</a>
                        </li>
 
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/login">Logout</a>
                        </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-12">
              <div class="jumbotron">
                  
                  <div class ="row" *ngIf="!alreadyApplied">
                    <div class="col-sm-5" >
                        <h3 class="mb-3">Packages</h3>
                        
                      <div *ngFor="let package of packages">

                          <div class="card mt-3">
                              <div class="row">
                                  <div class="col-sm-10">
                                    <p ><b>Title:</b> {{package.Title}}</p>

                                  </div>
                                  <div  class="col-sm-2">
                                      <div class="radio m-1">
                                          <label><input [disabled]="!enable(package)" type="radio" name="optradio" (click)="radio(package)"></label>
                                        </div>
  
                                    </div>
                                </div>
                              <div class="row">
                                
                                <div class="col-sm-6">
                                 <p > <b>Max companies:</b> {{package.MaxCompanies}}</p>
                                </div>
                                <div class="col-sm-6">
                                  <p ><b>Price:</b> {{package.Price}}</p>

                                  </div>
                              </div>
                              
                            
                            </div>
                        
                        
                   </div>
                  </div>
                      
                      <div  class="col-sm-7">
                          <h3 class="mb-3">Additional</h3>
                          <div class="row" *ngFor="let additional of additionals">

                              <div class="col-sm-8">
                                  <div class="checkbox">
                                      <label><input type="checkbox" (change)="selectionChange($event.srcElement, additional)" value="">{{additional.Title}}</label>
                                    </div>
                              </div>
                              <div  class="col-sm-4">
                                  <b>Price:</b> {{additional.Price}}
                                          
                              </div>
                          </div>
                          
                      </div>
                      

                    </div>
                    <div class ="row" *ngIf="alreadyApplied">
                      
                      
                      <div class = "col-sm-8">
                          <div class="card mt-3">
                              <div class="row">
                                  <div class="col-sm-10 m-3">
                                      <b>Application for</b> {{title}} 
    
                                  </div>
                            
                                </div>
                              <div class="row">
                                
                                <div class="col-sm-10 m-3">
                                    <b>Result: </b> 
                                    <div *ngIf="result == 'Accepted'" class="badge badge-success ml-2" >{{result}}</div>
                                    <div *ngIf="result == 'Rejected'" class="badge badge-danger ml-2" >{{result}}</div>
                                    <div *ngIf="result == 'TBA'" class="badge badge-secondary ml-2" >{{result}}</div>
                                </div>
                              </div>
                              <div class="row" >
                                
                                  <div class="col-sm-10 m-3" *ngIf="result=='Rejected'">
                                      <b>Comment: </b> {{comment}}
                                  </div>
                                </div>
                                <div class="row" >
                                
                                    <div class="col-sm-10 m-3" *ngIf="result=='Rejected'">
                                        <button class="btn btn-danger" (click)="ok()">OK</button>
                                    </div>
                                  </div>
                            
                            </div>
                      </div>
                      
                    </div>
                    
                
              </div>
              <div class="row">
                  <div  align="center" class="col-12">
                      <button *ngIf="!alreadyApplied"  class="btn btn-primary" (click)="apply()" [disabled]="disable">Apply</button>
                      
                    </div>
                    
              </div>
              <div *ngIf="flag" class="alert alert-success mt-2" role="alert">
                  Successfully sent request
                 </div>
            </div>
        </div>
        
        <div *ngIf="success" class="alert alert-success mt-2" role="alert">
            Successfully published offer
           </div>
    </div>

    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>