<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
    
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div *ngIf="!this.userService.user" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class ="nav-item navbar-left">
                        <a class="nav-link text-light m-2"  routerLink="/guest">Home</a>
                      </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a  class="nav-link text-light m-2" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
    <div *ngIf="this.userService.user" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/student">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/guest">Companies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/studentOffers">Offers</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a  class="nav-link text-light m-2" routerLink="/results">Application results</a>
                            </li>
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                                <button class="btn btn-dark m-2" (click)="logout()">Logout</button>
                            </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card" style="padding:10px;margin:20px; margin-right:30px;text-align:center;border-width: 5px">
                    <div class="card-header">
                        <h4>
                            <strong>
                           Companies 
                           </strong>
                         
                        </h4>
                    </div>
                    <div class="card-body" align="center" style="background-image: url('images/pattern1.png');">

                        <table class="table table-hover">
                            <thead>
                              <tr>
                               
                                <th scope="col">Company name</th>
                                <th scope="col">City</th>
                                <th scope="col">Work area</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr (click)="test(company.username, company.companyName, company.image)" *ngFor="let company of companies">
                              
                                <td>{{company.companyName}}</td>
                                <td>{{company.city}}</td>
                                <td>{{company.work}}</td>
                              </tr>              
                            </tbody>
                          </table>
                          

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="jumbotron" style="padding:10px;margin:20px;">
                    <h4 class="m-3">Search</h4>
                    <form class="form-inline md-form form-sm">
                        <input class="form-control form-control-sm m-3 w-75" type="text" placeholder="Search by name" aria-label="Search" [(ngModel)]='companyName' name="companyName">
                      
                      
                      <select class="custom-select m-3" multiple [(ngModel)]='work' name="work">
                          <option value="IT">IT</option>
                          <option value="Telecommunication">Telecommunication</option>
                          <option value="Energetics">Energetics</option>
                          <option value="Mechanical engineering">Mechanical engineering</option>
                          <option value="Constuction">Constuction</option>
                          <option value="Architecture">Architecture</option>   
                        </select>
                        <input class="form-control form-control-sm m-3 w-75" type="text" placeholder="Search by city" aria-label="Search" [(ngModel)]='city' name="city">
                        <button class="btn btn-dark m-3" (click)="search()">Search</button>
                      </form>
                     </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>