<div class="container">
  <div class="card card-container">
      <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
      <img id="profile-img"  src="../../assets/img/logo.png" />
      <div class="h3 m-4"> Password change</div>
      <form class="form-signin">
          
          <input type="text" id="inputEmail" [(ngModel)]='username' name='username' class="form-control" placeholder="Username" required autofocus>
          <div style="color:red;  margin: 5px">
            {{usernameMessage}}
          </div>
          <input type="password" [(ngModel)]='oldPassword' name='oldPassword' id="inputPassword" class="form-control" placeholder="Old Password" required>
          <p style="color:red; margin: 5px">
            {{oldPasswordMessage}}
          </p>
          <input type="password" [(ngModel)]='newPassword' name='newPassword' id="inputPassword" class="form-control" placeholder="New Password" required>
          <p style="color:red; margin: 5px">
            {{newPasswordMessage}}
          </p>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="change()">Submit</button>
      </form><!-- /form -->

      <a routerLink="/login" class="forgot-password">
          Cancel
      </a>

  </div><!-- /card-container -->

</div><!-- /container -->