<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
    
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo" >
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/adminHome">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/admin">Packages</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/companyRequests">Company requests</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/companyOverview">Company overview</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/newJobfair">New JobFair</a>
                        </li>
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                                <button class="btn btn-dark m-2" (click)="logout()">Logout</button>
                            </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-12">
              <div class="jumbotron">
                  
                  <div class ="row">
                    <div class="col-sm-8" >
                        <h3 class="mb-3">Packages</h3>
                        <hr>
                      <div *ngFor="let package of packages">
                            <div class="card" style="padding:10px;margin:20px; margin-right:30px;;border-width: 5px">
                            
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <b>Title:</b>
                                                {{package.Title}}
                                            </div>
                                        </div>
                                        <b>Content:</b>
                                        <div class="row" *ngFor="let content of package.Content">
                                            <div class="col-sm-10">
                                    
                                                {{ content}}
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                                <div class="col-sm-5">
                                                        <b>Video Promotion Minutes:</b>
                                                        {{package.VideoPromotion}}
                              
                                                    </div>
                                                    <div  class="col-sm-6">
                                                            <b>Lessons Number:</b>
                                                        {{package.NoLessons}}
                              
                                                    </div>
                                        </div>
                                        <div class="row">
                                                    <div class="col-sm-5">
                                                            <b>Workchops Number:</b>
                                                        {{package.NoWorkchops}}
                              
                                                    </div>
                                                    <div  class="col-sm-6">
                                                            <b>Presentation Number:</b>
                                                        {{package.NoPresentation}}
                              
                                                    </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-5">
                                                        <b>Price:</b>
                                                    {{package.Price}}
                          
                                                </div>
                                                <div  class="col-sm-6">
                                                        <b>Max Num of Companies:</b>
                                                       <span *ngIf="!canEdit"> {{package.MaxCompanies}} </span>
                                                       <input *ngIf="canEdit" class="form-control form-control-sm " style="width:100px" [value]="package.MaxCompanies" type="text" [(ngModel)]='package.MaxCompanies' name="package.MaxCompanies" >                          
                                                    
                          
                                                </div>
                                    </div>

                                    </div>
                            </div>
   
                      
                    </div>
                    
                   
                  </div>
                      
                    </div>
    
              </div>
              <div class="row">
                  <div  align="center" class="col-12">
                      <button [disabled]="!canEdit"  class="btn btn-primary" (click)="save()">Save</button>
                      
                    </div>
                    
              </div>
              <div *ngIf="flag" class="alert alert-success mt-2" role="alert">
                  Successfully updated packages
                 </div>
            </div>
        </div>
        
    
    </div>

    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>