<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
    
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo" >
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div *ngIf="!this.userService.user" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                <li class ="nav-item navbar-left">
                        <a class="nav-link text-light m-2"  routerLink="/guest">Home</a>
                      </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a  class="nav-link text-light m-2" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
    <div *ngIf="this.userService.user" class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/student">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/guest">Companies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/studentOffers">Offers</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a  class="nav-link text-light m-2" routerLink="/results">Application results</a>
                            </li>
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/login">Logout</a>
                        </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-10">
              <div class="jumbotron">
                <div align="center" class="h2">{{title}}</div>
                <div align="center" class="h3"><a routerLink="/companyDetails">{{companyName}}</a></div>
                <div align="center" class="h4">{{city}}</div>
                <p class="d-flex p-2 bd-highlight m-4" >{{content}}</p>
                <div class="badge badge-primary m-4"  >{{type}}</div>
                <div class="badge badge-warning float-right m-4"  >Deadline: {{deadline}}</div>
              </div>
            </div>
        </div>
        <div class="row">
                <div class="col-10" align="center">
                  <button *ngIf="this.userService.user" class="btn btn-primary" (click)="apply()">Apply now</button>
                </div>
            </div>
    
    </div>

    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>