<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
   
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/student">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/guest">Companies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/studentOffers">Offers</a>
                        </li>
                        <li class="nav-item dropdown">
                                <a  class="nav-link text-light m-2" routerLink="/results">Application results</a>
                            </li>
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/login">Logout</a>
                        </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="card" style="padding:10px;margin:20px; margin-right:30px;text-align:center;border-width: 5px">
                    <div class="card-header">
                        <h4>
                            <strong>
                           Job Offers 
                           </strong>
                         
                        </h4>
                    </div>
                    <div class="card-body" align="center" style="background-image: url('images/pattern1.png');">

                        <table class="table table-hover">
                            <thead>
                              <tr>
                               
                                <th scope="col">Offer</th>
                                <th scope="col">Type</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr (click)="test(offer.id)" *ngFor="let offer of offers">
                              
                                <td>{{offer.title}}</td>
                                <td>
                                  <div *ngIf="offer.type == 'Internship'" class="badge badge-primary m-4"  >{{offer.type}}</div>
                                  <div *ngIf="offer.type == 'Full time'||offer.type == 'Part time'" class="badge badge-warning m-4"  >{{offer.type}}</div>
                                </td>
                                
                              </tr>              
                            </tbody>
                          </table>
                          

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="jumbotron" style="padding:10px;margin:20px;">
                    <h4 class="m-3">Search</h4>
                    <form class="form-inline md-form form-sm">
                        <input class="form-control form-control-sm m-3 w-75" type="text" placeholder="Search by job title" aria-label="Search" [(ngModel)]='title' name="title">
                      
                      
                      <select class="custom-select m-3 w-75" multiple [(ngModel)]='type' name="type">
                          <option value="Full time">Full time</option>
                          <option value="Part time">Part time</option>
                          <option value="Internship">Internship</option> 
                        </select>
                        


                        <button class="btn btn-dark m-3" (click)="search()">Search</button>
                      </form>
                     </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>