<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
    
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo" >
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/adminHome">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/admin">Packages</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/companyRequests">Company requests</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/companyOverview">Company overview</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/newJobfair">New JobFair</a>
                        </li>
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                                <button class="btn btn-dark m-2" (click)="logout()">Logout</button>
                            </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="card" style="padding:10px;margin:20px; margin-right:30px;text-align:center;border-width: 5px">
                    <div class="card-header">
                        <h4>
                            <strong >
                           Companies participant
                           </strong>
                         
                        </h4>
                    </div>
                    <div class="card-body" align="center">
                        <table class="table table-hover" >
                            <thead>
                              <tr>
                               
                                <th scope="col">Company Name</th>
                                <th scope="col">Package</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr (click)="test(req.companyName)" *ngFor="let req of reqs">
                              
                                <td>{{req.companyName}}</td>
                                <td>{{req.title}}</td>
                                
                              </tr>              
                            </tbody>
                          </table>
                        
                                
                    </div>
                </div>
                
            </div>
            <div class="col-sm-7" *ngIf="flag">
                <div class="jumbotron" style="padding:10px;margin:20px;">
                    <h4 class="m-3">Company {{selectedCompany}}</h4>
                    <div class="row" *ngFor="let companySlot of companySlots">
                      <div class="col-sm-12">
                          <select  class="custom-select mt-2" [(ngModel)]='companySlot.val' name="companySlot.val"  >
                              <option *ngFor=" let slot of slots" [value]="slot">{{slot}}</option>
                            </select> 
                      </div>
                    </div>
                    <button class="btn btn-danger mt-2" (click)="add()">Add Slot</button><br>

                    <button class="btn btn-dark mt-2" (click)="save()">Save</button>
                     </div>
            </div>
                
        </div>
    </div>
    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>