<nav class="navbar navbar-header sticky-top navbar-expand-lg navbar-light bg-dark m-3 rounded" >
    
    <img class="p-0 m-0 rounded" src="../../assets/img/logo1.png " height="40" alt="Festival Logo" >
 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/adminHome">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/admin">Packages</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/companyRequests">Company requests</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/companyOverview">Company overview</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a  class="nav-link text-light m-2" routerLink="/newJobfair">New JobFair</a>
                        </li>
                    </ul>
            
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <img class="p-0 m-2 rounded" [src]="image" height="40" >
                        </li>
                        
                        <li class="nav-item dropdown">
                                <button class="btn btn-dark m-2" (click)="logout()">Logout</button>
                            </li>
                    </ul>
                
        </div>
</nav>
<div class="container">
        <div class="row">
            <div class="col-12">
              <div class="jumbotron">
                  
                    <div class="row">
                        <h2 class="m-3">Time period in witch students can submit CV</h2>
                        <div  class="col-sm-5 m-3">
                              
                              <h6>From: (DD/MM/YYY)</h6>
                              <input class="form-control form-control-sm " [value]="this.service.fromStudents" type="text" [(ngModel)]='this.service.fromStudents' name="this.service.fromStudents" >                          
                             
                            </div>
                            <div   class="col-sm-5 m-3">
                               <h6>To: (DD/MM/YYY)</h6>
                                <input class="form-control form-control-sm " [value]="this.service.toStudents" type="text" [(ngModel)]='this.service.toStudents' name="this.service.toStudents" >                            
                          
                              </div>
                          
                    </div>
                    <hr>
                    <div class="row">
                        <h2 class="m-3">Time period in witch companies can apply for JobFair</h2>
                        <div  class="col-sm-5 m-3">
                            
                            <h6>From: (DD/MM/YYY)</h6>
                            <input class="form-control form-control-sm " [value]="this.service.fromCompanies" type="text" [(ngModel)]='this.service.fromCompanies' name="this.service.fromCompanies" >                           
                          
                          </div>
                          <div class="col-sm-5 m-3">
                             <h6>To: (DD/MM/YYY)</h6>
                              <input class="form-control form-control-sm " [value]="this.service.toCompanies" type="text" [(ngModel)]='this.service.toCompanies' name="this.service.toCompanies" >                            
                        
                            </div>
                          
                    </div>
                
              </div>
              <div class="row">
                  <div  align="center" class="col-12">
                      <button  class="btn btn-primary" (click)="save()">Save</button>
                      
                    </div>
                    
              </div>
              <div *ngIf="success" class="alert alert-success mt-2" role="alert">
                  Successfully updated periods
                 </div>
            </div>
        </div>
        
    
    </div>

    <br/>
    <br/>
    <footer class="page-footer font-small bg-dark pt-4 mt-4">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-sm-6"><img class="m-3" src="../../assets/img/logo1.png" align="left" width="350px" height="90px" float="left"></div>
                <div class="col-sm-6">
                    
                        <p  style="color:white; padding-bottom:1px; margin-bottom:1px; padding-top:1px; margin-top:15px;">
                            <i>Copyright &copy; 2019 Faculty of Electrical Engineering University of Belgrade <br>department Software Engineering<br>Developed by <b>Ćirić Dejan</b> </i>
                        </p>
                    
                </div>
            </div>
        </div>
    </footer>